.home-page {

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Nexa Heavy', sans-serif;
    font-weight: 400;
    text-align: left;

    &:before {
      font-family: 'Nexa Heavy', sans-serif;
      color: #a5ffd6;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6;
    }

    &:after {
      font-family: 'Nexa Heavy', sans-serif;
      color: #a5ffd6;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 4s backwards;
    text-align: left;
  }

  .flat-button {
    color: #a5ffd6;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #a5ffd6;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 4.3s backwards;
    white-space: nowrap;

    &:hover {
      background: #a5ffd6;
      color: #333;
    }
  }
}