div.quartz {
  background-color: #563456;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

div.mountbatten {
  background-color: #b75d6900;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

